vendor
.byebug_history
examples/*.fluxc
log.txt
zig/all-tests.zig
zig/transpile-test.zig
zig/zig-out
zig/.zig-cache
zig/.clear-cache
zig/.clear-transpile-cache
zig/fiber-stack-check/pass/build
zig/*.bc
zig/*.o
zig/data
transpile-tests/ffi-integration/.zig-cache
transpile-tests/module-integration/.zig-cache
benchmarks/**/bench
benchmarks/**/bench_c
benchmarks/**/bench_clear
benchmarks/**/bench_go
benchmarks/**/bench_rust
benchmarks/**/server_clear
benchmarks/**/Cargo.loc
benchmarks/**/client_go
benchmarks/**/server_go
benchmarks/**/server
benchmarks/10_concurrent_search/data/
PLAN.md

**/*.profile/
**/.zig-cache/
**/*.clear-build.json
