<section class="source-view">
  <input class="layer-toggle" type="checkbox" id="layer-gutter-highlights" checked data-persist-key="lineage.layer.gutter-highlights">
  <input class="layer-toggle" type="checkbox" id="layer-gutter-icons" checked data-persist-key="lineage.layer.gutter-icons">
  <input class="layer-toggle" type="checkbox" id="layer-blame" data-persist-key="lineage.layer.blame">
  <input class="layer-toggle" type="checkbox" id="layer-comment-folding" checked data-persist-key="lineage.layer.comment-folding">
  <input class="mode-radio" type="radio" name="lineage-view-mode" id="mode-coverage" checked data-persist-key="lineage.view.mode">
  <input class="mode-radio" type="radio" name="lineage-view-mode" id="mode-churn" data-persist-key="lineage.view.mode">
  <div class="topbar">
    <div>
      <div class="title">{{ path }}</div>
      <div class="subtle">{{ summary }}</div>
    </div>
    <div class="source-actions">
      <div class="view-toggle" aria-label="line color mode">
        <label for="mode-coverage">Coverage Quality</label>
        <label for="mode-churn">Churn Heat</label>
      </div>
      {{ layers_menu|safe }}
    </div>
  </div>
  <div class="viewer">
    {{ branch_context|safe }}
    {{ warnings|safe }}
    <div class="code">
      {{ code_lines|safe }}
    </div>
  </div>
  {{ history|safe }}
</section>
