<table class="coverage-table">
  <thead>
    <tr>
      <th scope="col" class="name-col">{{ name_header|safe }}</th>
      <th scope="col" class="cov-col">{{ total_header|safe }}</th>
      <th scope="col" class="cov-col">{{ covered_header|safe }}</th>
      <th scope="col" class="cov-col">{{ partial_header|safe }}</th>
      <th scope="col" class="cov-col">{{ missed_header|safe }}</th>
      <th scope="col" class="haz-col">Total</th>
      <th scope="col" class="haz-col">Covered</th>
      <th scope="col" class="haz-col">Mutant Killed</th>
      <th scope="col" class="coverage-col">Coverage</th>
      <th scope="col" class="percent-col cov-col">{{ percent_header|safe }}</th>
      <th scope="col" class="percent-col haz-col">%</th>
    </tr>
  </thead>
  <tbody>
    {% if empty %}
      <tr><td colspan="12" class="empty-table">No tracked files in this directory.</td></tr>
    {% else %}
      {{ rows|safe }}
    {% endif %}
  </tbody>
  <tfoot>
    {{ subtotal|safe }}
  </tfoot>
</table>
